
<table>
  <tr>
    <td colspan="4"><input type="text" [(ngModel)]="display" class="input"></td>
  </tr>
  <tr>
   <td width="45"></td>
   <td width="45"><button  class="button" (click)="CE()">CE</button></td>
   <td width="45"><button  class="button" (click)="C()">C</button></td>
   <td width="45"><button  class="button" (click)="SetOperacija('^')">^</button></td>
 </tr>
 <tr>
  <td width="45"><button  class="button" (click)="SetDisplay('7')">7</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('8')">8</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('9')">9</button></td>
  <td width="45"><button  class="button" (click)="SetOperacija('+')">+</button></td>
</tr>
<tr>
  <td width="45"><button  class="button" (click)="SetDisplay('4')">4</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('5')">5</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('6')">6</button></td>
  <td width="45"><button  class="button" (click)="SetOperacija('-')">-</button></td>
</tr>
<tr>
  <td width="45"><button  class="button" (click)="SetDisplay('1')">1</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('2')">2</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('3')">3</button></td>
  <td width="45"><button  class="button" (click)="SetOperacija('*')">*</button></td>
</tr>
<tr>
  <td width="45"><button  class="button" (click)="SetDisplay2('.')">.</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('0')">0</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay2('e')">e</button></td>
  <td width="45"><button  class="button" (click)="SetOperacija('/')">/</button></td>
</tr>
<tr>
  <td width="45"><button  class="button" (click)="XKvadrat()">x^2</button></td>
  <td width="45"><button  class="button" (click)="JedanKrozX()">1/x</button></td>
  <td width="45"><button  class="button" (click)="Sqrt()">sqrt</button></td>
  <td width="45"><button  class="button" (click)="Evaluate()" class="button jednako">=</button></td>
</tr>
</table>

